mailoop-data-factory/PartialArmTemplates/ArmTemplate_9_21_2020_19_18_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mailoop-data-factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "extract_emails_from_dbb",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "public.emails"
							},
							{
								"name": "Destination",
								"value": "data-extract//emails"
							}
						],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dalkia_emails",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "emailsExtract",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "extract_email_recipients_from_db",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "extract_emails_from_dbb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "public.email_recipients"
							},
							{
								"name": "Destination",
								"value": "data-extract//email_recipients.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false
						},
						"inputs": [
							{
								"referenceName": "dalkia_emails_recipients",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "emailRecipientExtract",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transform')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "emailRecipientExtract",
								"type": "DatasetReference"
							},
							"name": "RawEmailRecipient"
						},
						{
							"dataset": {
								"referenceName": "emailsExtract",
								"type": "DatasetReference"
							},
							"name": "Email"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Result_Agg",
								"type": "DatasetReference"
							},
							"name": "preprocess"
						}
					],
					"transformations": [
						{
							"name": "mappedEmailRecipients",
							"description": "Creates an explicit mapping for each drifted column"
						},
						{
							"name": "Join"
						},
						{
							"name": "emailDeriv"
						},
						{
							"name": "emClean",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "erClean",
							"description": "Autogenerated by data preview actions"
						}
					],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> RawEmailRecipient\nsource(output(\n\t\tid as string,\n\t\tsender_id as string,\n\t\tparent_id as string,\n\t\temail_thread_id as string,\n\t\tsubject as string,\n\t\tdate as string,\n\t\tmessage_id as string,\n\t\tcreated_at as string,\n\t\tupdated_at as string,\n\t\tmailbox_message_id as string,\n\t\tperimeter as string,\n\t\tis_answer as string,\n\t\tis_event_message as string,\n\t\tin_reply_to as string,\n\t\ttime_zone as string,\n\t\tthread_subject as string,\n\t\tis_forwarded as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Email\nRawEmailRecipient derive(er_id = toString(byName('id')),\n\t\ter_recipient_id = toString(byName('recipient_id')),\n\t\ter_email_id = toString(byName('email_id')),\n\t\ter_status = toString(byName('status')),\n\t\ter_created_at = toString(byName('updated_at')),\n\t\ter_updated_at = toString(byName('updated_at')),\n\t\ter_through_list = toString(byName('through_list')),\n\t\ter_read_delay = toString(byName('read_delay')),\n\t\ter_mailbox_message_id = toString(byName('mailbox_message_id')),\n\t\ter_is_read = toString(byName('is_read')),\n\t\ter_read_time = toString(byName('read_time')),\n\t\ter_delivered_date = toString(byName('delivered_date'))) ~> mappedEmailRecipients\nemClean, erClean join(er_email_id == em_id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join\nEmail derive(em_id = toString(byName('id'))) ~> emailDeriv\nemailDeriv select(mapColumn(\n\t\tem_id = id,\n\t\tem_sender_id = sender_id,\n\t\tem_parent_id = parent_id,\n\t\tem_email_thread_id = email_thread_id,\n\t\t{em_subject } = subject,\n\t\tem_date = date,\n\t\tem_message_id = message_id,\n\t\tem_created_at = created_at,\n\t\tem_updated_at = updated_at,\n\t\tem_perimeter = perimeter,\n\t\tem_is_answer = is_answer,\n\t\tem_is_event_message = is_event_message,\n\t\tem_in_reply_to = in_reply_to,\n\t\tem_time_zone = time_zone,\n\t\tem_thread_subject = thread_subject,\n\t\tem_is_forwarded = is_forwarded,\n\t\tem_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> emClean\nmappedEmailRecipients select(mapColumn(\n\t\ter_id,\n\t\ter_recipient_id,\n\t\ter_email_id,\n\t\ter_status,\n\t\ter_created_at,\n\t\ter_updated_at,\n\t\ter_through_list,\n\t\ter_read_delay,\n\t\ter_mailbox_message_id,\n\t\ter_is_read,\n\t\ter_read_time,\n\t\ter_delivered_date\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> erClean\nJoin sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\ttruncate: true) ~> preprocess"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transform",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "transform",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/transform')]"
			]
		}
	]
}