mailoop-data-factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mailoop-data-factory"
		},
		"dalkia_relationnal_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dalkia_relationnal_db'"
		},
		"dalkia_relationnal_db_V2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dalkia_relationnal_db_V2'"
		},
		"data_factory_results_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'data_factory_results'"
		},
		"paris_la_defense_master_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'paris_la_defense_master_db'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_extract')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "extract_emails_from_dbb",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "public.emails"
							},
							{
								"name": "Destination",
								"value": "data-extract//emails"
							}
						],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "dalkia_emails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "emailsExtract",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "extract_email_recipients_from_db",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "extract_emails_from_dbb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "public.email_recipients"
							},
							{
								"name": "Destination",
								"value": "data-extract//email_recipients.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false
						},
						"inputs": [
							{
								"referenceName": "dalkia_emails_recipients",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "emailRecipientExtract",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dalkia_emails')]",
				"[concat(variables('factoryId'), '/datasets/emailsExtract')]",
				"[concat(variables('factoryId'), '/datasets/dalkia_emails_recipients')]",
				"[concat(variables('factoryId'), '/datasets/emailRecipientExtract')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_transform')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transform",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "transform",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EmailRecipient": {},
									"Email": {},
									"emailRecipientsPreprocess": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/transform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Result_Agg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_factory_results",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "data-factory-results"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_factory_results')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_emails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dalkia_relationnal_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": "emails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dalkia_relationnal_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_emails_recipients')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dalkia_relationnal_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": "email_recipients"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dalkia_relationnal_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_relationnal_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dalkia_relationnal_db_V2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "public",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dalkia_relationnal_db_V2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emailRecipientExtract')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_factory_results",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "email_recipients.csv",
						"container": "data-extract"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_factory_results')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emailsExtract')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_factory_results",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "emails",
						"container": "data-extract"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "sender_id",
						"type": "String"
					},
					{
						"name": "parent_id",
						"type": "String"
					},
					{
						"name": "email_thread_id",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "message_id",
						"type": "String"
					},
					{
						"name": "created_at",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					},
					{
						"name": "mailbox_message_id",
						"type": "String"
					},
					{
						"name": "perimeter",
						"type": "String"
					},
					{
						"name": "is_answer",
						"type": "String"
					},
					{
						"name": "is_event_message",
						"type": "String"
					},
					{
						"name": "in_reply_to",
						"type": "String"
					},
					{
						"name": "time_zone",
						"type": "String"
					},
					{
						"name": "thread_subject",
						"type": "String"
					},
					{
						"name": "is_forwarded",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_factory_results')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_relationnal_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "postgres://ufhernd9ito7ha:p61320870ee4e3eb7f2c34e6a91f8ab6e568cca34ef821980304564d64fc1ae7b@ec2-63-32-33-178.eu-west-1.compute.amazonaws.com:5432/dd5cdiais9tqlj",
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('dalkia_relationnal_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dalkia_relationnal_db_V2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('dalkia_relationnal_db_V2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_factory_results')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('data_factory_results_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/paris_la_defense_master_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('paris_la_defense_master_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transform')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "emailRecipientExtract",
								"type": "DatasetReference"
							},
							"name": "EmailRecipient"
						},
						{
							"dataset": {
								"referenceName": "emailsExtract",
								"type": "DatasetReference"
							},
							"name": "Email"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Result_Agg",
								"type": "DatasetReference"
							},
							"name": "emailRecipientsPreprocess"
						}
					],
					"transformations": [
						{
							"name": "mappedEmailRecipients",
							"description": "Creates an explicit mapping for each drifted column"
						},
						{
							"name": "Join"
						},
						{
							"name": "emailDeriv"
						},
						{
							"name": "emClean",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "erClean",
							"description": "Autogenerated by data preview actions"
						}
					],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> EmailRecipient\nsource(output(\n\t\tid as string,\n\t\tsender_id as string,\n\t\tparent_id as string,\n\t\temail_thread_id as string,\n\t\tsubject as string,\n\t\tdate as string,\n\t\tmessage_id as string,\n\t\tcreated_at as string,\n\t\tupdated_at as string,\n\t\tmailbox_message_id as string,\n\t\tperimeter as string,\n\t\tis_answer as string,\n\t\tis_event_message as string,\n\t\tin_reply_to as string,\n\t\ttime_zone as string,\n\t\tthread_subject as string,\n\t\tis_forwarded as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Email\nEmailRecipient derive(er_id = toString(byName('id')),\n\t\ter_recipient_id = toString(byName('recipient_id')),\n\t\ter_email_id = toString(byName('email_id')),\n\t\ter_status = toString(byName('status')),\n\t\ter_created_at = toString(byName('updated_at')),\n\t\ter_updated_at = toString(byName('updated_at')),\n\t\ter_through_list = toString(byName('through_list')),\n\t\ter_read_delay = toString(byName('read_delay')),\n\t\ter_mailbox_message_id = toString(byName('mailbox_message_id')),\n\t\ter_is_read = toString(byName('is_read')),\n\t\ter_read_time = toString(byName('read_time')),\n\t\ter_delivered_date = toString(byName('delivered_date'))) ~> mappedEmailRecipients\nerClean, emClean join(er_email_id == em_id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join\nEmail derive(em_id = toString(byName('id'))) ~> emailDeriv\nemailDeriv select(mapColumn(\n\t\tem_id = id,\n\t\tem_sender_id = sender_id,\n\t\tem_parent_id = parent_id,\n\t\tem_email_thread_id = email_thread_id,\n\t\t{em_subject } = subject,\n\t\tem_date = date,\n\t\tem_message_id = message_id,\n\t\tem_created_at = created_at,\n\t\tem_updated_at = updated_at,\n\t\tem_perimeter = perimeter,\n\t\tem_is_answer = is_answer,\n\t\tem_is_event_message = is_event_message,\n\t\tem_in_reply_to = in_reply_to,\n\t\tem_time_zone = time_zone,\n\t\tem_thread_subject = thread_subject,\n\t\tem_is_forwarded = is_forwarded,\n\t\tem_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> emClean\nmappedEmailRecipients select(mapColumn(\n\t\ter_id,\n\t\ter_email_id,\n\t\ter_status,\n\t\ter_created_at,\n\t\ter_updated_at,\n\t\ter_through_list,\n\t\ter_read_delay,\n\t\ter_mailbox_message_id,\n\t\ter_is_read,\n\t\ter_read_time,\n\t\ter_delivered_date\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> erClean\nJoin sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\ttruncate: true) ~> emailRecipientsPreprocess"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/emailRecipientExtract')]",
				"[concat(variables('factoryId'), '/datasets/emailsExtract')]",
				"[concat(variables('factoryId'), '/datasets/Result_Agg')]"
			]
		}
	]
}